<!-- 基准头文件 -->
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
    <!-- 网页图标 -->
    <link rel="icon" href="/static/img/icon.ico" type="image/x-icon" />
    <!-- 收藏图标 -->
    <link rel="shortcut icon" href="/static/img/icon.ico" type="image/x-icon" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" charset="utf-8" />
    <title>在线旅游管理系统</title>
</head>

<body style="
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(-45deg, #ee7752, #a98175, #23a6d5, #23d5ab);
    background-size: 350% 350%;
    ">
    {% block content %} {% endblock%}
</body>
</html>